<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>
</head>
<body>
<div align="center">
    <h1>User Registration</h1>
    <form action="#" th:action="@{/auth/register}" method="post">

        <label>E-mail:</label>
        <input type="text" th:field="${user.email}" /><br/>

        <label>Password:</label>
        <input type="password" th:field="${user.password}" /><br/>


        <select th:field="${roleobj.id}">
            <option value=""> -- </option>
        <option th:each="role : ${roles}"
                th:value="${role.id}"
                th:utext="${role.name}"/>
        </select>

        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>